.searchbar__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.search__icon {
  position: absolute;
  left: 10px;
}

.searchInput {
  width: 100%;
  padding: 5px;
  padding-left: 30px;
  box-sizing: border-box;
}
