.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 30px -5px rgba(0, 255, 255, 0.3);
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

.NavLink {
  padding: 20px 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #008800;

  transition: all 0.3s;
}
.active {
  padding: 20px 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #00ff00;
  font-weight: 500;
  transform: scale(1.2);
  transition: all 0.3s;
}
