.spaceBackground {
  position: relative;
  background-image: url('../../images/wallpaperbetter.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  width: 100%;
  height: 100vh;
  overflow: hidden;
}
